.style1 {
  color: white;
  background-color: blue;
  font-weight: lighter;
}

/* Style 2 */
.style2 {
  color: yellow;
  background-color: black;
  font-weight: bold;
}

/* Style 3 */
.style3 {
  color: magenta;
  background-color: cyan;
  font-weight: initial;
}

/* Style 4 */
.style4 {
  color: black;
  background-color: yellow;
  font-weight: inherit;
}
